*.mp3
*.pyc
marvin/json/contacts.json
marvin/json/pass.json
Os.json
marvin_run.sh
marvin/rest-server/start_rest.sh

marvin-env/bin/*
!marvin-env/bin/python2.7
marvin-env/include
marvin-env/lib
marvin-env/pip-selfcheck.json
marvin-env/.Python